@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
  background: linear-gradient(135deg, #000000, #0d1a3b, #183d66, #2578a9);
}

#logo {
  height: 2.5rem;
}

.search-icon {
  width: 1.7rem;
  height: 1.7rem;
}

.breadcrumb {
  text-underline-offset: 0.5rem;
}

/*
#background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px) brightness(0.5);
  transform: scale(1.1);
  width: 150%;
  height: 100%;
  position: fixed;
  top:0;
  left:50;
  z-index: -1;
}
*/

#barraNav, footer {
  background-color: #0d1326
}