<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONE PHONE - Accesorios y Gadgets</title>
    <link rel="stylesheet" href="../assets/css/libs/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/styles/home.css">
    <link rel="stylesheet" href="../assets/css/gralStyle.css">
</head>

<body>

<!-- BARRA DE NAVEGACIÓN -->
<nav id="barraNav" class="navbar navbar-expand-sm navbar-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="home.html">
            <img id="logo" class="img-fluid" src="../assets/images/logo.png" alt="One Phone Logo" srcset="">
        </a>
        <button class="navbar-toggler my-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearch"
            aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse gap-2" id="navbarSearch">
            <form class="d-flex flex-grow-1 pt-3 pt-sm-0">
                <input class="form-control rounded-0" type="search" placeholder="Buscar productos..."
                    aria-label="Buscar">
                <a class="btn btn-primary rounded-0 d-flex justify-content-center align-items-center" type="submit">
                    <img class="search-icon" src="../assets/images/icons/search.svg" alt="">
                </a>
            </form>
            <div class="navbar-nav my-2 ms-sm-2 gap-2 flex-row align-items-center justify-content-center">
                <div class="nav-item">
                    <!-- <a class="nav-link active d-flex align-items-center" href="login.html">
                    <img class="search-icon" src="../img/icons/account.svg" alt="">
                    <span class="ps-2 d-sm-none">Mi cuenta</span>
                </a> -->
                    <button type="button" class="btn btn-outline-primary d-inline-flex align-items-center"
                        data-bs-toggle="modal" data-bs-target="#loginModal">
                        <img src="../assets/images/icons/login.svg" alt="">
                        <span class="ps-2 d-sm-none">Mi cuenta</span>
                    </button>
                </div>
                <div class="nav-item">
                    <!-- <a class="nav-link active d-flex align-items-center" href="cart.html">
                    <img class="search-icon" src="../img/icons/cart.svg" alt="">
                    <span class="ps-2 d-sm-none">Carrito</span>
                </a> -->
                    <button type="button" class="btn btn-outline-primary d-inline-flex align-items-center"
                        data-bs-toggle="modal" data-bs-target="#cartModal">
                        <img src="../assets/images/icons/cart.svg" alt="">
                        <span class="ps-2 d-sm-none">Carrito</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- CARRUSEL DE IMÁGENES --> <!-- 1200x400 -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <!-- Imágenes del carrusel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/images/background1.jpg" class="d-block" alt="Imagen 1">
        <div class="carousel-caption d-none d-md-block">
            <h5>Primera imagen</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/images/background2.jpg" class="d-block" alt="Imagen 2">
        <div class="carousel-caption d-none d-md-block">
            <h5>Segunda imagen</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/images/background3.jpg" class="d-block" alt="Imagen 3">
        <div class="carousel-caption d-none d-md-block">
            <h5>Tercera imagen</h5>
        </div>
      </div>
    </div>
    <!-- Controles del carrusel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
</div>

<!-- ACORDEÓN -->
<div class="container-fluid pt-3">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Sobre nosotros:
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body text-light rounded-bottom">
                    <div class="d-flex flex-wrap justify-content-evenly align-items-center">
                        <!-- Bloque de texto -->
                        <div class="col-md-6">
                            <p>Con más de 70 años de trayectoria en el comercio de Tandil, nuestra experiencia nos ha permitido siempre mirar hacia nuevos horizontes.</p>
                            <p>El 29 de noviembre de 2017 nace One Phone, un emprendimiento joven y dinámico que busca destacarse en el rubro de la tecnología móvil.</p>
                            <p>Gracias a nuestra vasta experiencia, ofrecemos un trato personalizado y cercano a nuestros clientes, con el objetivo de brindarte el mejor asesoramiento en tu proceso de compra, garantizando que el producto se ajuste a tus necesidades.</p>
                            <p>Además, contamos con un servicio de reparaciones profesional para que siempre tengas tu dispositivo en las mejores condiciones.</p>
                            <p><strong>¡Estamos aquí para asesorarte y ayudarte en todo lo que necesites!</strong></p>
                        </div>
                        <!-- Imagen -->
                        <div class="col-md-6 d-flex justify-content-center align-items-center">
                            <img src="../assets/images/logo.png" class="img-fluid w-75" alt="Logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CATEGORÍAS -->
<div class="container-fluid py-4">
    <h2 class="text-light text-start pb-3 d-flex flex-column flex-sm-row align-items-center">
        <div class="text-nowrap">¿Qué andás buscando?</div>
        <small class="fs-5 ms-3 mt-2 mt-sm-0 text-nowrap btn btn-light">
            <a class="link-underline link-underline-opacity-0" href="menu.html">Ver todos los productos >></a>
        </small>
    </h2>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4">
        <!-- Card 1 -->
        <div class="col">
            <a class="link-offset-3" href="#">
                <div class="card h-100">
                    <img src="../assets/images/categories/parlantes.png" class="card-img-top object-fit-contain p-2" alt="Categoría 1">
                    <div class="card-body text-center d-flex align-items-center justify-content-center p-1">
                        <p class="card-title text-light fw-semibold">Parlantes</p>
                    </div>
                </div>                
            </a>

        </div>
        <!-- Card 2 -->
        <div class="col">
            <a class="link-offset-3" href="#">
                <div class="card h-100">
                    <img src="../assets/images/categories/auriculares.png" class="card-img-top object-fit-contain p-2" alt="Categoría 2">
                    <div class="card-body text-center d-flex align-items-center justify-content-center p-1">
                        <p class="card-title text-light fw-semibold">Auriculares</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Card 3 -->
        <div class="col">
            <a class="link-offset-3" href="#">
                <div class="card h-100">
                    <img src="../assets/images/categories/cargadores.png" class="card-img-top object-fit-contain p-2" alt="Categoría 3">
                    <div class="card-body text-center d-flex align-items-center justify-content-center p-1">
                        <p class="card-title text-light fw-semibold">Cargadores y tablets</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Card 4 -->
        <div class="col">
            <a class="link-offset-3" href="#">
                <div class="card h-100">
                    <img src="../assets/images/categories/computacion.png" class="card-img-top object-fit-contain p-2" alt="Categoría 4">
                    <div class="card-body text-center d-flex align-items-center justify-content-center p-1">
                        <p class="card-title text-light fw-semibold">Computación</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Card 5 -->
        <div class="col">
            <a class="link-offset-3" href="#">
                <div class="card h-100">
                    <img src="../assets/images/categories/hogar.png" class="card-img-top object-fit-contain p-2" alt="Categoría 5">
                    <div class="card-body text-center d-flex align-items-center justify-content-center p-1">
                        <p class="card-title text-light fw-semibold">Artículos de hogar</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Card 6 -->
        <div class="col">
            <a class="link-offset-3" href="#">
                <div class="card h-100">
                    <img src="../assets/images/categories/joysticks.png" class="card-img-top object-fit-contain p-2" alt="Categoría 6">
                    <div class="card-body text-center d-flex align-items-center justify-content-center p-1">
                        <p class="card-title text-light fw-semibold">Joysticks</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Card 7 -->
        <div class="col">
            <a class="link-offset-3" href="#">
                <div class="card h-100">
                    <img src="../assets/images/categories/relojes.png" class="card-img-top object-fit-contain p-2" alt="Categoría 7">
                    <div class="card-body text-center d-flex align-items-center justify-content-center p-1">
                        <p class="card-title text-light fw-semibold">Relojes</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Card 8 -->
        <div class="col">
            <a class="link-offset-3" href="#">
                <div class="card h-100">
                    <img src="../assets/images/categories/iluminacion.png" class="card-img-top object-fit-contain p-2" alt="Categoría 8">
                    <div class="card-body text-center d-flex align-items-center justify-content-center p-1">
                        <p class="card-title text-light fw-semibold">Iluminación</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Card 9 -->
        <div class="col">
            <a class="link-offset-3" href="#">
                <div class="card h-100">
                    <img src="../assets/images/categories/soportes.png" class="card-img-top object-fit-contain p-2" alt="Categoría 9">
                    <div class="card-body text-center d-flex align-items-center justify-content-center p-1">
                        <p class="card-title text-light fw-semibold">Soportes</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- APARTADO MISC. -->
<div class="container-fluid pb-3 text-light">
    <div class="row">
        <!-- Apartado de reparación -->
        <div class="col-12 col-sm-6 col-lg-4 p-3 position-relative">
            <h3>¿Reparamos tu celular?</h3>
            <hr>
            <button type="button" class="btn btn-light text-primary fs-5" data-bs-toggle="modal" data-bs-target="#repairEstimateModal">
                ¡Pedí tu presupuesto!
            </button>
            <img class="div-icon position-absolute" src="../assets/images/icons/repair.svg" alt="">
        </div>
        <!-- Apartado de consulta -->
        <div class="col-12 col-sm-6 col-lg-4 p-3 position-relative">
            <h3 class="text-nowrap">¿Tenés dudas?</h3>
            <hr>
            <button type="button" class="btn btn-light text-primary fs-5" data-bs-toggle="modal" data-bs-target="#contactOwnerModal">
                ¡Contactanos!
            </button>
            <img class="div-icon position-absolute" src="../assets/images/icons/contact.svg" alt="">
        </div>
        <!-- Apartado de ubicación -->
        <div class="col-12 col-sm-12 col-lg-4 p-3 position-relative">
            <h3>¡Visitanos!</h3>
            <hr>
            <a class="link-underline link-offset-3 text-light d-inline-flex" target="_blank" href="https://maps.app.goo.gl/WJGL3BNZpBHHSUQ68"><p class="fs-5">9 de Julio 171, Tandil</p></a>
            <img class="div-icon position-absolute" src="../assets/images/icons/location.svg" alt="">
        </div>
    </div>
</div>

<!-- PIE DE PÁGINA -->
<footer class="text-light py-3">
    <div class="container">
        <div class="row">
            <!-- Sección de medios -->
            <div class="col-md-4">
                <h5>Medios de pago:</h5>
                <ul class="list-unstyled">
                    <li class="pb-1 d-flex align-items-center gap-2">
                      <img class="pay-icon" src="../assets/images/icons/mercadopago.svg" alt="">
                      <p class="m-0">MercadoPago</p>
                    </li>
                    <li class="pb-1 d-flex align-items-center gap-2">
                      <img class="pay-icon" src="../assets/images/icons/visa.svg">
                      <p class="m-0">Visa</p>
                    </li>
                    <li class="pb-1 d-flex align-items-center gap-2">
                      <img class="pay-icon" src="../assets/images/icons/americanexp.svg">
                      <p class="m-0">American Express</p>
                    </li>
                </ul>
            </div>
  
            <!-- Sección de soporte -->
            <div class="col-md-4">
              <h5>Soporte:</h5>
              <p class="mb-2">¿Tenés una consulta?</p>
              <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#contactOwnerModal">
                Contactanos vía mensaje directo
              </button>
            </div>
  
            <!-- Sección de redes -->
            <div class="col-md-4">
              <h5>Redes:</h5>
              <ul class="list-unstyled">
                <li class="pb-1">
                    <a class="text-light link-offset-2 d-inline-flex align-items-center gap-2" target="_blank" href="https://www.facebook.com/OnePhonee/">
                        <img class="media-icon" src="../assets/images/icons/facebook.svg" alt="">
                        <span>Facebook</span>
                    </a>
                </li>
                <li class="pb-1">
                    <a class="text-light link-offset-2 d-inline-flex align-items-center gap-2" target="_blank" href="https://www.instagram.com/onephonee/">
                        <img class="media-icon" src="../assets/images/icons/instagram.svg" alt="">
                        <span>Instagram</span>
                    </a>
                </li>
                <li class="pb-1">
                    <a class="text-light link-offset-2 d-inline-flex align-items-center gap-2" target="_blank" href="https://www.tiktok.com/@elpibitoonephone">
                        <img class="media-icon" src="../assets/images/icons/tiktok.svg" alt="">
                        <span>Tik Tok</span>
                    </a>
                </li>
              </ul>
          </div>
        </div>
    </div>
    <!-- Barra inferior del footer -->
    <div class="bg-secondary text-center py-3">
        <p class="my-0">© One Phone. Todos los derechos reservados.</p>
    </div>
</footer>

<script src="../js/libs/bootstrap.bundle.js"></script>
</body>
</html>